<nav class="row">
  <div class="col-xs-12 col-sm-12 col-lg-2 mr-2">
    <h2>COVID-19</h2>
  </div>

  <div  id="actualizado-info" class="col-xs-12 col-sm-12 col-lg-2 d-inline-flex">
    <span class="bg-success text-white d-inline-block p-2 mr-0 mb-2"> condifmados </span>
    <span class="bg-success text-white d-inline-block p-2 mr-0 mb-2"> 8005864 </span>
  </div>

  <div  id="actualizado-info" class="col-xs-12 col-sm-12 col-lg-2 d-inline-flex">
    <span class="bg-success text-white d-inline-block p-2 mr-0 mb-2"> infectados </span>
    <span class="bg-success text-white d-inline-block p-2 mr-0 mb-2"> 9888547 </span>
  </div>

  <div  id="actualizado-info" class="col-xs-12 col-sm-12 col-lg-2 d-inline-flex">
    <span class="bg-success text-white d-inline-block p-2 mr-0 mb-2"> muertos </span>
    <span class="bg-success text-white d-inline-block p-2 mr-0 mb-2"> 10000 </span>
  </div>
 
  <div  id="actualizado-info" class="col-xs-12 col-sm-12 col-lg-2 d-inline-flex">
    <span class="bg-success text-white d-inline-block p-2 mr-0 mb-2"> recuperados </span>
    <span class="bg-success text-white d-inline-block p-2 mr-0 mb-2"> 52000 </span>
  </div>


</nav>
