*{
	box-sizing: border-box;

}

#informacion-header{
	color:white;
	display:inline;
}

nav{
	background-color: #222222;
	/*position: fixed;*/
/*	  background: rgba(0,0,0,0.9);
  width: 100%;
  position: fixed;
  z-index: 100;*/


}
.nav{
	margin-bottom: -5px!important;
}

span{
	font-weight: 700;
	font-size: 15px;
}
.boton-menu{
	/*background-color:#165bff!important;*/
	font-weight: 700;
    font-size: 15px;
    text-align: center;
    color:white;
    background-color: #165bff;
    margin-right: 1px;
    border-top-left-radius: 4px!important;
    border-top-right-radius: 4px!important;

}
.boton-menu:hover{
	/*background-color:#165bff!important;*/
	background-color:#1da1f2!important;
	color:#e5e8ef!important;
	border:none;
	
}

.boton-menu:active{
	/*background-color:#165bff!important;*/
	background-color:#eeeeee!important;
	color:#165bff!important;
	border:none;

}


.flecha-down {

    width:0px;
    height:0px;
    border-left:10px solid transparent; /* izquierda flecha */
    border-right:10px solid transparent; /* derecha flecha */
    border-top:10px solid #eeeeee; /* base flecha y color*/
    font-size:0px;
    line-height:0px;
    margin:auto;
    visibility:hidden;
}
.boton-menu:active~.flecha-down{
	visibility: visible!important;
}

.mb-2 {
	width: 100%;
}

#info-confirmado{
	background-color: #777!important;
	font-weight: 900!important;
}

#info-conf-n{
	background-color: #595959!important;
	/*text-align:center;*/
}

#info-infectado{
	background-color: #b10dc9!important;
	font-weight: 900!important;
}
#info-infe-n{
	background-color: #850a97!important;
}
#info-muertos{
	background-color: #ff4136!important;
	font-weight: 900!important;
}

#info-muert-n{
	background-color: #bf3129!important;
}

#info-recuperado{
	background-color: #17ac28!important;
	font-weight: 900!important;
}
#info-recupe-n{
    background-color:#105f19!important; 
}

@media (min-width: 992px){
	.col-lg-2 {
		flex: 2 0 16.666667%;
		max-width: 20.666667%;
	}
	h2{
		margin-right: -19%;
	}
	#actualizado-info{
		width: 100%;
	}
	span{
		width: 100%;
		padding:auto;
		text-indent: 5%;

	}
	.col-lg-2,.col-sm-12{
		position: relative;
		padding-right:0px;
		padding-left: 1px;

	}
	#info-confirmado,#info-infectado,#info-muertos,#info-recuperado{
		border-radius: 0px 0px 0px 5px;
		-moz-border-radius: 0px 0px 0px 5px;
		-webkit-border-radius: 0px 0px 0px 5px;
		border: 0px solid #000000;
	}

	#info-conf-n,#info-infe-n,#info-muert-n,#info-recupe-n{
		border-radius: 0px 0px 5px 0px;
		-moz-border-radius: 0px 0px 5px 0px;
		-webkit-border-radius: 0px 0px 5px 0px;
		border: 0px solid #000000;
	}

	#actualizado-info{
		width:120%;
	}
	#info-conf-n,#info-infe-n,#info-muert-n,#info-recupe-n{
		text-align:center!important;
	}

}

@media(max-width:315px){
    #repo-boton1,#repo-boton2{
    	display: none!important;
    }
}

@media(max-width:491px){

	#repo-boton1{
          display: none!important;
	}
}

@media(min-width:492px){

	#repo-boton2{
         display: none!important;
	}
}

@media(max-width:991px){

    span{
    	font-size: 12px!important;
    }
    .p-2{
    	padding: 0.5rem!important;
    }
	.texto-logo{
         display:none!important;
	}
	.mb-2, .my-2 {
    margin-bottom: 0.3rem!important;
}
}

@media(min-width:992px){
	#icono{
		display:none!important;
	}
}


