<nav class="row">
  <div class="col-xs-12 col-sm-12 col-lg-2 mr-2">
    <h2>COVID<span class="text-danger">-19</span></h2>
  </div>

  <div  id="actualizado-info" class="col-xs-12 col-sm-12  col-lg-2 d-inline-flex">
    <span id="info-confirmado" class="text-white d-inline-block p-2 mr-0 mb-2"> Actualizado </span>
    <span id="info-conf-n" class="text-white d-inline-block p-2 mr-0 mb-2 ">2020/3/17 11:31</span>
  </div>

  <div  id="actualizado-info" class="col-xs-12 col-sm-12   col-lg-2 d-inline-flex">
    <span id="info-infectado" class=" text-white d-inline-block p-2 mr-0 mb-2"> Confirmado </span>
    <span id="info-infe-n" class=" text-white d-inline-block p-2 mr-0 mb-2"> 9888547 </span>
  </div>

  <div  id="actualizado-info" class="col-xs-12 col-sm-12   col-lg-2 d-inline-flex">
    <span id="info-muertos" class=" text-white d-inline-block p-2 mr-0 mb-2"> Muertos </span>
    <span id="info-muert-n" class=" text-white d-inline-block p-2 mr-0 mb-2"> 10000 43.3% </span>
  </div>
 
  <div  id="actualizado-info" class="col-xs-12 col-sm-12   col-lg-2 d-inline-flex">
    <span id="info-recuperado" class=" text-white d-inline-block p-2 mr-0 mb-2"> Curados</span>
    <span id="info-recupe-n" class=" text-white d-inline-block p-2 mr-0 mb-2">148052000 43.3% </span>
  </div>


</nav>
