/* You can add global styles to this file, and also import other style files */
body{
	font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #ffffff;
    background: #111;
   overflow-x: hidden;
}

/*app-header{
	position: fixed;
	top: 0;
	width:100%;
}
app-informacion{
	margin-top: 150px;
}*/